.form {
    display:grid;
    background-color: rgb(231, 247, 255);
    border: 1px solid rgb(1, 101, 148);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(1, 141, 206);
    /* width: 40%; */
    margin-block-end: 15px;
}
.header {
    text-align: center;
    font-size: 25px;
    color: rgb(1, 101, 148);
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}
.button{
    background-color: rgb(1, 141, 206);
    border: 1px solid rgb(231, 247, 255);
    padding: 5px;
    width: 70px;
    color: rgb(231, 247, 255);
    font-size: 15px;
    margin-top: 10px;
}
.content{
    height: 150px;
    width: 70%;
    margin-left: 10px
}
.title{
    height: 25px;
    width: 70%;
    margin-left: 10px
}
.form-label{
    text-align: center;
    display:inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.paste-history{
    /* width: 40%; */
    padding: 10px;
    background-color: rgb(231, 247, 255);
    border: 1px solid rgb(1, 101, 148);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(1, 141, 206);

}
.individual-paste{
    border-bottom: 2px solid rgb(1, 101, 148);
    word-break: break-all;
    padding: 5px;
    margin: 5px;

}
.read-more-link{
    color: rgb(43, 76, 226);
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
  }